<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

 <head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/club-list.css}">

	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title>club-list</title>
 </head>

 <body class="bg-light">
	<div class="title">
		<h1>部活動一覧画面</h1>
	</div>
	<div class="clubList">
		<table class="table">
			<thead>
				<tr>
					<th>部活名</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cs : ${cluds}">
					<td th:text="${cs.value.getName}"></td>
					<td>
						<a class="btn btn-primary" th:href="@{/club/detail}">
							詳細
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
 </body>

</html>